<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Store - Orders</title>
  <link rel="stylesheet" href="orders.css">
</head>
<body>
  <h1>Online Store - Orders</h1>
  <div id="orderList"></div>

  <script>
    async function displayOrderList() {
      try {
          const response = await fetch("/orders");
          const orders = await response.json();
          console.log(orders);
  
          const orderListDiv = document.getElementById("orderList");
          orderListDiv.innerHTML = "";
  
          orders.forEach((order) => {
            const orderDiv = document.createElement("div");
            orderDiv.classList.add("order");
            orderDiv.innerHTML = `
              <h3>Order name: ${order.productName}</h3>
              <p>Price: ${order.productPrice}</p>
              <p>Ordered by: ${order.username}</p>
              <button onclick="deleteOrder('${order._id}')">Delete</button>
            `;
            orderListDiv.appendChild(orderDiv);
          });
        } catch (error) {
          console.error(error);
          alert("Error. Please try again.");
        }
    }

    async function deleteOrder(orderId) {
      if (!confirm("Are you sure you want to delete this order?")) {
        return;
      }

      try {
        const response = await fetch("/orders/delete", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            orderId: orderId,
          }),
        });

        if (response.ok) {
          alert("Order deleted successfully!");
          displayOrderList();
        } else {
          alert("Error. Please try again.");
        }
      } catch (error) {
        console.error(error);
        alert("Error. Please try again.");
      }
    }

  window.onload = displayOrderList;
  </script>
</body>
</html>
