<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Store - order placed</title>
  <link rel="stylesheet" href="place-order.css">
</head>
<body>
    <h1>Order placed.</h1>
    <p>The admin can see your order via order list. Your cart is empty now.</p>
    <button onclick="mainPage()">Browse store</button>
    <script>
      function mainPage(){
        window.location.href = 'user';
      }
    </script>
  </body>
  </html>
  