<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Store - Sign-in</title>
  <link rel="stylesheet" href="sign-in.css">
</head>
<body>
    <h1>Online Store - Sign in</h1>

    <div class="sign-in-form">
      <label for="username">Username:</label>
      <input type="text" id="username" placeholder="Username">
      <label for="password">Password:</label>
      <input type="password" id="password" placeholder="Password">
    </div>
    <div><button onclick="signIn()">Sign in</button></div>

  <script>
    //to do
    async function signIn() {
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;
      //jeśli udało się zalogować
        signedIn();
      //else

    }

    function signedIn() {
        window.location.href = 'user';
    }
  </script>
</body>
</html>
