<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Store - Logged-in User</title>
  <link rel="stylesheet" href="user.css">
</head>
<body>
  <h1>Online Store - Logged-in User</h1>

  <label for="search">Search:</label>
  <input type="text" id="search" placeholder="Search for products">
  <button onclick="searchProducts()">Search</button>
  <button onclick="browseStore()">Browse Store</button>
  <button onclick="yourCart()">Your Cart</button>

  <div id="results"></div>

  <script>
    async function browseStore() {
      const response = await fetch('/products');
      const products = await response.json();
      displayResults(products);
    }

    async function searchProducts() {
      const query = document.getElementById('search').value;
      const response = await fetch(`/products/search?query=${query}`);
      const products = await response.json();
      displayResults(products);
    }

    function yourCart() {
        window.location.href = 'cart';
    }

    function displayResults(products) {
      const resultsDiv = document.getElementById('results');
      resultsDiv.innerHTML = '';

      products.forEach(product => {
        const productDiv = document.createElement('div');
        productDiv.classList.add('product');
        productDiv.innerHTML = `
          <h3>${product.name}</h3>
          <p>${product.description}</p>
          <p>Price: $${product.price.toFixed(2)}</p>
          <button onclick="addToCart(${product.name},${product.price})">Add to cart</button>
        `;
        resultsDiv.appendChild(productDiv);
      });
    }

    async function addToCart(itemName, itemPrice) {
      try {
        const response = await fetch("/current-cart/add", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name: itemName,
            price: itemPrice,
          }),
        });

        if (response.ok) {
          alert("Product added successfully!");
          browseStore();
        } else {
          alert("Error. Please try again.");
        }
      } catch (error) {
        console.error(error);
        alert("Error. Please try again.");
      }
    }
  </script>
</body>
</html>
