<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Store - Users</title>
  <link rel="stylesheet" href="users.css">
</head>
<body>
  <h1>Users:</h1>
  <div id="userList"></div>

  <script>
    async function displayUserList() {
        try {
          const response = await fetch("/users");
          const users = await response.json();
  
          const userListDiv = document.getElementById("userList");
          userListDiv.innerHTML = "";
  
          users.forEach((user) => {
            const userDiv = document.createElement("div");
            userDiv.classList.add("user");
            userDiv.innerHTML = `
              <h3>${user.username}</h3>
              <button onclick="deleteUser('${user._id}')">Delete</button>
            `;
            userListDiv.appendChild(userDiv);
          });
        } catch (error) {
          console.error(error);
          alert("Error. Please try again.");
        }
      }

      async function deleteUser(userId) {
        if (!confirm("Are you sure you want to delete this user?")) {
          return;
        }
  
        try {
          const response = await fetch("/users/delete", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
                userId: userId,
            }),
          });
  
          if (response.ok) {
            alert("User deleted successfully!");
            displayUserList();
          } else {
            alert("Error. Please try again.");
          }
        } catch (error) {
          console.error(error);
          alert("Error. Please try again.");
        }
      }

    window.onload = displayUserList;
  </script>
</body>
</html>

